{% extends 'base.html' %}
{% load static %}
{% block title %} звонки {% endblock %}
{% block content %}
<body>
  {% include 'includes/header.html' %}
  <main class="page">
    <section class="section_call">
      <h2 class="call_title">Звонки</h2>
      <ul class="call_ul">
        {% for call in calls %}
        <div class="call_li">
        <li class="call_li_item" data-id="{{ call.id }}">
          <span data-date_time="{{ call.date }}" class="call_datetime">{{ call.date|date:"d/m H:i" }}</span>
          <span class="call_full_name">{{ call.full_name }}</span>
          <span class="call_question">{{ call.question }}</span>
          <span class="call_telephone">{{ call.telephone }}</span>
          <span class="call_result">{{ call.result }}</span>
        </li>
        <form method="post" action="{% url 'delete-call' call.id %}">
          {% csrf_token %}
          <button class="call_delete" type="submit"></button>
        </form>
      </div>
        {% endfor %}
      </ul>
    </section>

    <section class="section_birthday">
      <h2>Дни рождения</h2>
      <ul class="ul_birthday">
        {% for birthday in birthdays %}
        <li>
          {{ birthday.full_name }}
          {{ birthday.date|date:"Y-m-d" }}
          {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </li>
      </ul>
    </section>

    <section class="section_reception">
      <h2>Записавшиеся на приём</h2>
        <table>
          <thead>
              <tr>
                  <th>Сотрудник</th>
                  <th>Вопрос</th>
                  <th>Примечание</th>
              </tr>
          </thead>
          <tbody>
            {% for reception in receptions %}
            <tr>
              <td>{{ reception.full_name }}</td>
              <td>{{ reception.question }}</td>
              <td>{{ reception.other }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </section>
  </main>

  <div class="popup popup_call_new popup_is-animated">
    <div class="popup__content">
      <button type="button" class="popup__close"></button>
      <h3 class="popup__title">Добавить звонок</h3>
      {% include 'includes/form-call.html' %}
    </div>
  </div>

  <div class="popup popup_call_eddit popup_is-animated">
    <div class="popup__content">
      <button type="button" class="popup__close"></button>
      <h3 class="popup__title">Изменить звонок</h3>
      {% include 'includes/form-call-edit.html' %}
    </div>
  </div>
</body>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}